@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  max-width: 1540px;
  margin: 0 auto; 
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background); 
  
}

 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  
::-webkit-scrollbar {
  width:4px;
}
 
::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb:hover {
  background: #FF5733;
}

/*
    COLORS
    CULTURAL
    #800000
    #FFDB58
    #40E0D0
    #B22222
    #FFFDD0
    NATURAL
    #6B8E23
    #E2725B
    #FFFAFA
    #FFD700
    #87CEEB
    MODERN
    #008080
    #FF7F50
    #F4A460
    #228B22
    #D3D3D3
    PRIMARY COMBINATION
    #E2725B
    #87CEEB
    #FFDB58
    #FFFAFA
    #B22222

================================
#FFE5D9

===== 
#581845
#900C3F
#C70039
#FF5733
#FFC300
#DAF7A6

zinc-50 /200


 
     */